
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>自己紹介</title>
    <link rel="stylesheet" href="~/Content/StyleSheet1.css" />
</head>
<body>

    <header>
        <h1><a href="index.cshtml"><img src="~/images_logo/logo.png" alt="logo" /></a></h1>
        <nav id="global_navi">
            <ul>
                <li class="current"><a href="Index.cshtml">別府拓</a></li>
            </ul>
        </nav>
    </header>

    <div id="main_visual">
        <img src="~/images_logo/remain_visual.png" alt="Syakoudannsu" />
    </div>

    <div id="wrapper">

        <div id="main">
            <section id="point">
                <h2>別府拓について</h2>
                <section class="clearfix">
                    <h3>出身は名古屋。育ちは埼玉。</h3>
                    <figure>
                        <img src="~/images_logo/reNagoya.png" alt="Nagoya" />
                        <figcaption>名古屋と言ったら名古屋城</figcaption>
                    </figure>
                    <p>
                        二つの我が故郷<br />
                        大都市の名古屋と自然がいっぱいの埼玉。二つの場所はたくさんの影響を私に与えました。<br />
                        今は埼玉に住んでいますが年に一回は必ず名古屋に行って観光をします。<br />
                        味噌カツや、みそ田楽はやっぱり名古屋で食べるのが一番！<br />
                        おいしいので食べたことない人は是非食べてほしいです。
                    </p>
                </section>
                <section class="clearfix">
                    <h3>人生を変えた社交ダンスとの出会い</h3>
                    <figure>
                        <img src="~/images_logo/reNakama.png" alt="Nakama" />
                        <figcaption>たくさんの人との出会い</figcaption>
                    </figure>
                    <p>
                        大学で出会った社交ダンスを通してたくさんの出会いがありました。<br />
                        部内だけでも先輩、後輩合わせて100人以上の人と出会いました。<br />
                        尊敬する先輩方、愛すべき後輩たち、すべての出会いが私のかけがえのない思い出です。<br />
                        ご縁が重なり、海外で貴重な経験をさせていただくこともありました。<br />
                        トラブルもたくさん経験しましたがとても良い経験ができたと今は感じています。
                    </p>
                </section>
            </section>

        </div>


    </div>



</body>
</html>
